<p>cadastro-aluno-reactive works!</p>

<p>
    <!-- {{ | json}} -->
</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container my-5">
    <div  class="mb-3">
    <label for="nome" class="form-label">Nome completo</label>
    <input type="email" class="form-control"
    formControlName="nome"
    id="nome" name="nome" 
    minlength="8"
    required
    >
    
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" 
    class="form-control"
    formControlName="email" 
    id="email" 
    nome="email" 
    required
    >
  </div>

  <div class="mb-3">
    <label for="nivel" class="form-label">Nível de ensino</label>
   <select name="" id="nivel" 
   class="form-select"
   formControlName="nivel"
   required
   >
    <option selected disabled value="">Selecione um nível</option>
    <option value="1">Fundamental I</option>
    <option value="2">Fundamental II</option>
    <option value="3">Médio</option>
   </select>
  </div>

  <div class="mb-3">
    <label class="form-label" for="cidade">Cidade</label>
    <input class="form-control" type="text"
     id="cidade" name="cidade" 
     formControlName="cidade"
     required>
  </div>

  <div class="mb-3">
    <label class="form-label" for="estado">Estado</label>
    <input class="form-control" 
    type="text"
    id="estado" name="estado"
    formControlName="estado"
    maxlength="2">
  </div>
  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
